apiVersion: apps/v1
kind: Deployment
metadata:
  name: fastapi
spec:
  replicas: 2
  selector:
    matchLabels:
      app: fastapi
  template:
    metadata:
      labels:
        app: fastapi
    spec:
      containers:
        - name: fastapi
          image: wintermutant/anvil-tutorial-backend:v1
          ports:
            - containerPort: 80
          env:
            - name: MONGO_URI
              value: "mongodb://admin:password123@mongodb:27017/"
          resources:
            requests:
              cpu: "50m"
              memory: "128Mi"
            limits:
              cpu: "250m"
              memory: "256Mi"
