apiVersion: v1
kind: Service
metadata:
  name: fastapi-svc
  labels:
    app: fastapi
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: 80
      protocol: TCP
  selector:
    app: fastapi
